<!doctype html>
<html lang="en" ng-app="ToDo">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <script src="main.js"></script>
</head>
<body ng-controller="todoController" ng-click="clearActive()">
<div class="main-bar-wrap">
    <div class="alert-wrap">
        <div ng-controller="noticeCrtl" class="alert-box-wrap">
            <ul dir="rtl">
                <li ng-repeat="alert in getAlerts()" class="alert alert-success no-list alert-box" ng-model="alerts">
                    {{alert.title}}
                </li>
            </ul>
        </div>
    </div>
    <div class="to-do-wrap">
        <div class="route-bar-wrap">
            <div class="language-select">
                <label>{{translation.LANGUAGE}}
                    <select ng-change="saveLanguage()" ng-model="selectedLanguage">
                        <option value="en">English</option>
                        <option value="ru">Русский</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
</div>
    <ng-view></ng-view>
</body>
</html>