<div class="modal-header">
    <div>
        <h5 class="modal-title" id="modal-title">{{translation.SAVE_TO_LOCAL}}</h5>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <div>{{translation.SAVE_SURE}}</div>
    <div class="font-weight-bold">{{translation.FILES_ARE}}</div>
    <div class="goals-div">
        <span class="text-underline">{{translation.SAVE_ACTIVE_ONLY}}:</span>
        <ul>
            <li ng-repeat="me in mes[0] track by $index">
                {{me.title}}</li>
        </ul>
        <span class="text-underline">{{translation.SAVE_DONE_ONLY}}:</span>
        <ul>
            <li ng-repeat="me in mes[1] track by $index" class="done-goals">
                {{me.title}}</li>
        </ul>
    </div>
    <div class="font-weight-bold">{{translation.FILES_IN_LOC}}</div>
    <div class="goals-div">
        <span class="text-underline">{{translation.SAVE_ACTIVE_ONLY}}:</span>
        <ul>
            <li ng-repeat="piece in pieces[0] track by $index">
                {{piece.title}}</li>
        </ul>
        <span class="text-underline">{{translation.SAVE_DONE_ONLY}}:</span>
        <ul>
            <li ng-repeat="piece in pieces[1] track by $index" class="done-goals">
                {{piece.title}}</li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">{{translation.REPLACE_IT}}</button>
    <button class="btn btn-primary" type="button" ng-click="merge()">{{translation.MERGE_IT}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{translation.CLOSE_IT}}</button>
</div>