<div class="page-wrap">
    <div class="route-bar-wrap-loc">
        <div class="route-bar-item">
        <div>Активные задачи:</div>
        <button class="btn" ng-click="saveTodosInLocStor()">
            {{translation.SAVE_STOR}}
        </button>
        <button class="btn" ng-click="loadTodosFromLocalStor()">
            {{translation.LOAD_STOR}}
        </button>
        </div>
        <div class="route-bar-item">
            <div>Выполненные задачи:</div>
            <button class="btn" ng-click="saveCompleteTodosInLocStor()">
                {{translation.SAVE_STOR}}
            </button>
            <button class="btn" ng-click="loadCompleteTodosFromLocalStor()">
                {{translation.LOAD_STOR}}
            </button>
        </div>
    </div>
    <a href="#!main" class="clear-link"><button class="btn null-margin">
        {{translation.RETURN_TO}}
    </button></a>
</div>