<div>
    <div class="to-do-wrap">
        <form name="inputForm" novalidate class="width-and-margin">
            <div class="form-group form-flex">
                <label for="toDoInput" class="form-label">{{translation.WHAT_WANT_YOU_DO}}</label>
                <input id="toDoInput" name="toDoInput" ng-model="toDoInput" class="form-control to-do-input"
                       required="">
                <div ng-show="inputForm.$submitted || inputForm.toDoInput.$touched">
                    <div ng-show="inputForm.toDoInput.$error.required" class="requiredError">
                        {{translation.PLEASE_ENTER}}
                    </div>
                </div>
                <button class="btn btn-primary add-button-flex" ng-click="addToDo(inputForm)">{{translation.ADD}}
                </button>
            </div>
        </form>
        <div class="width-and-margin"><a class="card-link" href="#!localStore">
            <button ng-click="setInService()" class="btn load-btn">{{translation.LOAD_FROM}}</button>
        </a></div>
        <div class="sort-buttons-flex-wrap btn-group width-and-margin">
            <button ng-click="sortFromAToZ();" class="btn btn-secondary btn-flex"
                    ng-class="{ 'sort-button-active' : sortAToZ}">{{translation.SORT_A_TO_Z}}
            </button>
            <button ng-click="sortFromZToA()" class="btn btn-secondary btn-flex"
                    ng-class="{'sort-button-active' : sortZToA}">{{translation.SORT_Z_TO_A}}
            </button>
        </div>
        <div class="todos-wrap">
            <ul class="goals-ul-wrap list-group">
                <li ng-repeat="todo in todos track by $index"  class="each-goal-li-wrap list-group-item" id="mainLi"
                ng-click="workWithGoal($index, todo)">
                    <div class="each-goal-main-div-wrap" id="mainDiv">
                        <div class="goal-flex">
                            <div>{{todo.title}}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="todos-wrap">
            <ul class="goals-ul-wrap list-group">
                <li ng-repeat="completetodo in completetodos track by $index"
                    class="each-completed-goal-li-wrap list-group-item">
                    <div class="each-completed-goal-wrap">
                        <div class="goal-flex completed" ng-model="completetodo.done">
                            {{completetodo.title}}
                        </div>
                        <div ng-click="deleteComplGoal($event, $index, completetodo)"
                             class="control-element-del del-if-done"
                             ng-class="{'visible' : completetodo.done}"></div>
                        <div ng-click="returnGoal($event, $index)" class="control-element-return"
                             ng-class="{'visible' : completetodo.done}"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>