@import "variablse";

.edit-buttons-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-area-wrap {
    width: 100%;
    min-height: 150px;
}

.main-bar-wrap {
    width: 60%;
    margin: 0 auto;
}

.width-and-margin {
    width: 60%;
    margin: 0 auto;
}

.todos-wrap {
    margin: 0 auto;
    padding: 27px 20%;
}

.to-do-wrap {
    position: relative;
    margin: 10px auto;
}

.form-flex {
    display: flex;
    width: 100%;
}

.form-label {
    margin: 0 10px;
    padding-top: 5px;
    flex:0 0 200px;
}

.to-do-input {
    display: inline;
    padding-top: 1px;
    flex: 5 0 100px;
}

.add-button-flex {
    flex: 0 0 150px;
    margin-left: 15px;
}

.sort-buttons-flex-wrap {
    display: flex;
    margin-top: 10px;
}

.load-btn {
    width: 100%;
}

.btn-group .btn-flex {
    flex: 1 1 100px;
}

.goals-ul-wrap {
    width: 100%;
    max-height: 300px;
    margin: 0 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.each-goal-li-wrap, .each-completed-goal-li-wrap {
    margin: 0;
    padding: 0;
    min-height: 44px;
}

.each-completed-goal-li-wrap {
    background: #b0ffff;
    text-decoration: line-through;
}

.each-completed-goal-wrap {
    position: relative;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin-top: 15%;
    }
}


.edit-input {
    padding: 0 10px;
    width: 100%;
}

.each-goal-main-div-wrap {
    display: flex;
    flex-grow: 1;
    min-height: 42px;
}

li.list-group-item {
    position: inherit;
}

.each-goal-main-div-wrap-active {
    background: inherit;
    position: absolute;
    box-shadow: 0 0 25px 10px #9a9a9a;
    width: 70%;
    left: 15%;
    border-radius: 5px;
    z-index: 100;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.each-goal-li-wrap:nth-of-type(odd){
    background: #e0e0e0;
}

.each-goal-li-wrap:nth-of-type(even){
    background: lightgrey;
}

.goal-flex {
    flex: 1 1 auto;
    padding: 8px 30px 8px 20px;
    display: inherit;
    cursor: pointer;

}

.completed, .completed:hover {
    text-decoration: line-through;
}

.control-element-del {
    position: absolute;
    right: -90px;
    top: 12px;
    background: url(../img/delete.png);
    -webkit-background-size: contain;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.control-element-edit {
    position: absolute;
    top: 12px;
    right: -60px;
    background: url(../img/edit.png);
    -webkit-background-size: contain;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.move-and-change {
    background: url(../img/done.png);
    -webkit-background-size: contain;
    background-size: contain;
}

.control-element-done {
    position: absolute;
    right: -35px;
    top: 12px;
    background: url(../img/done.png);
    -webkit-background-size: contain;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.control-element-return {
    position: absolute;
    right: 30px;
    top: 12px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: url(../img/return.png);
    -webkit-background-size: contain;
    background-size: contain;
}

.del-if-done {
    right: 6px;
}

.visible {
    display: block;
}

.hide {
    display: none;
}

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.requiredError {
    padding: 5px 0 0 5px;
    color: red;
    font-weight: bold;
}

.sort-button-active {
    background: $click;
}

.sort-button-active:hover {
    background: $hover;
}

div.to-do-wrap > div.btn-group > .sort-button-active:active {
    background: $click;
}

.language-select-loc {
    text-align: right;
    padding: 20px 0 10px 10px;
    margin: 10px;
}

.language-select {
    text-align: right;
    margin: 10px 0;
}

.route-bar-wrap {
    display: flex;
    margin: 10px 0 10px 10px;
    padding-top: 10px;
    flex: 1;
}

.route-bar-wrap-loc > .btn {
    margin: 0 5px;
}

.route-bar-link {
    flex: 1;
    margin-top: 10px;
}

.page-wrap {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.clear-link, .clear-link:hover {
    color: black;
    text-decoration: none;
}

.clear-link > .btn {
    margin-left: 5px;
}

.goals-div {
    margin-top: 10px;
    max-height: 250px;
    overflow: auto;
}

.no-list {
    list-style: none;
}

.alert-box-wrap {
    width: 550px;
    position: absolute;
    z-index: 101;
    left: 70%;
}

.alert-box {
    width: max-content;
}

.alert-wrap {
    width: 80%;
    position: relative;
}
